<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">
      <h5 class="mt-2 mt-2 ml-3 px-2 border bg-light d-inline">商品新規登録</h5>

      <div class="row">
        <div class="mx-auto mt-5">
          <%= form_with model: @item, url: admin_items_path do |f| %>

            <label for="item_image" class="mr-5">商品画像</label>
            <%= f.file_field :image, accept: "image/*", id:"item_image" %><br>

            <label for="item_new" class="mr-5">商品名</label>
            <%= f.text_field :name, id:"item_new" %><br>

            <label for="item_introduction" class="mr-5">商品説明</label>
            <%= f.text_area :introduction, id:"item_introduction" %><br>

            <label for="item_genre" class="mr-5">ジャンル</label>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name) %><br>

            <label for="item_price" class="mr-5">税抜価格</label>
            <%= f.text_field :price, id:"item_price" %>円<br>

            <label for="item_status" class="mr-5">販売ステータス</label>
            <%= f.label :is_active, '販売中', id:"item_status", value: TRUE %>
            <%= f.radio_button :is_active, '1' %>
            <%= f.label :is_active, '販売停止', id:"item_status", value: FALSE %>
            <%= f.radio_button :is_active, '0' %><br>

            <%= f.submit '新規投稿', class: 'btn btn-success nx-auto ml-6' %>
          <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
