<div>
  <div>
    <div>

      <div>
        <div>
          <div>
            <% if @item.image.attached? %>
              <%= image_tag @item.image %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
          </div>
        </div>
      </div>

      <div>
        <div>
          <div>
            <div>商品名<%= @item.name %></div>
            <div>商品説明<%= @item.introduction %></div>
            <div>ジャンル<%= @item.genre.name %></div>
            <div>税込価格(税抜価格)<%= @item.price %></div>
            <div>販売ステータス</div>
            <%= link_to "編集する", edit_admin_item_path(@item.id) %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>