<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div style="margin: 50px 0px 50px 30px;">
        <h5 class="my-4 ml-3 px-2 border bg-light d-inline">管理者ログイン</h5>
      </div>

      <%= form_with model: @admin, url: new_admin_session_path do |f| %>
        <div class="field">
          <span style="margin-right: 38px;"><%= f.label :email, "メールアドレス" %></span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <span style="margin-right: 70px;"><%= f.label :password, "パスワード" %></span>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <div class="margin-left: 70px;"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>


    </div>
  </div>
</div>
