<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>

      <div>
        <h5>新着商品</h5>
        <div>
          <% @items.each do |item| %>

            <% if item.image.attached? %>
                  <%= image_tag item.image %>
            <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
              <% end %>

            <%= item.name %>
            <%= item.price %>

          <% end %>

          <%= link_to "全ての商品を見る", admin_items_path %>
        </div>
      </div>

    </div>
  </div>
</div>
