<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div style="margin: 50px 0px 50px 30px;">
        <h5 class="my-4 ml-3 px-2 border bg-light d-inline">
          <%= @customer.first_name %> <%= @customer.last_name %>さんの会員情報編集</h5>
      </div>

      <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>

        <span style="margin-right: 105px;">会員ID</span>
        <%= @customer.id %><br>

        <span style="margin-right: 120px;"><label for="name">氏名</label></span>
        <%= f.text_field :first_name, id:"name" %> <%= f.text_field :last_name, id:"name" %><br>

        <span style="margin-right: 89px;"><label for="kana">フリガナ</label></span>
        <%= f.text_field :first_name_kana, id:"kana" %> <%= f.text_field :first_name_kana, id:"kana" %><br>

        <span style="margin-right: 90px;"><label for="postal_code">郵便番号</label></span>
        <%= f.text_field :postal_code, id:"postal_code" %><br>

        <span style="margin-right: 122px;"><label for="addres">住所</label></span>
        <%= f.text_field :address, id:"addres" %><br>

        <span style="margin-right: 90px;"><label for="telephone">電話番号</label></span>
        <%= f.text_field :telephone_numbera, id:"telephone" %><br>

        <span style="margin-right: 42px;"><label for="email">メールアドレス</label></span>
        <%= f.text_field :email, id:"email" %><br>

        <span style="margin-right: 40px;">会員ステータス</span>
        <%= f.label :is_deleted, '有効', value: FALSE, for:"status" %>
        <%= f.radio_button :is_deleted, '1', id:"status" %>
        <%= f.label :is_deleted, '退会', value: TRUE, for:"status_f" %>
        <%= f.radio_button :is_deleted, '0', id:"status_f" %><br>

        <span style="margin-left: 160px;"><%= f.submit '変更を保存', class: 'btn btn-success nx-auto ml-6' %></span>

      <% end %>

    </div>
  </div>
</div>