<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">
      <h5 class="mt-2"><%= customer.name %>さんの会員詳細</h5>
      <p>会員ID</p><p></p>
      <p>氏名</p><p><%= customer.first_name %> <%= customer.last_name %></p>
      <p>フリガナ</p><p><%= customer.first_name_kana %> <%= customer.last_name_kana %></p>
      <p>郵便番号</p><p><%= customer.postal_code %></p>
      <p>住所</p><p><%= customer.address %></p>
      <p>電話番号</p><p><%= customer.telephone_number %></p>
      <p>メールアドレス</p><p><%= customer.email %></p>
      <p>会員ステータス</p>

    </div>
  </div>
</div>