<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">
      <h5 class="my-4 ml-3 px-2 border bg-light">ジャンル一覧・追加</h5>

      <div class="my-5">ジャンル名
           <%= form_with model: @genre, url: admin_genres_path do |f| %>
          <%= f.text_field :name %>
          <%= f.submit '新規登録', class: 'btn btn-outline-success' %>
        <% end %>
        </div>

        <table>
        <thead class="border bg-light">
          <tr>
            <th class="px-3">ジャンル</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre|%>
          <tr>
            <td>
              <p class="ml-2"><%= genre.name %></p>
            </td>
            <td>
             <p><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-outline-success' %></p>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
