<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div style="margin: 50px 0px 50px 30px;">
        <h5 class="my-6 ml-3 px-2 border bg-light d-inline">ショッピングカート</h5>
        <span class="d-flex justify-content-end"><%= link_to "カートを空にする", public_destroy_all_cart_items_path,  method: :delete, class: 'btn btn-danger' %></span>
      </div>

      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @total = 0 %>
          <% @cart_items.each do |cart_item|%>
          <tr>
            <td>
              <%= cart_item.item.name %>
            </td>
            <td>
              <%= cart_item.subtotal %>
            </td>
            <td>
              <%= form_with model: cart_item, url: public_cart_items_path, method: :post do |f| %>
                <%= f.hidden_field :item_id, :value => cart_item.item.id %>
                <%= f.select :amount, *[1..10] %>
                <span class="ml-5"><%= f.submit "変更", class: 'btn btn-success' %></span>
              <% end %>
            </td>
            <td>
              <%= cart_item.subtotal %>
            </td>
            <td>
             <%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class: 'btn btn-danger' %>
            </td>
            <tb><span><% @total += cart_item.subtotal %></span></tb>
          </tr>
          <% end %>
        </tbody>
      </table>


        <div style="margin-bottom: 20px;">
          <%= link_to "買い物を続ける", public_path, class:'btn btn-primary' %>
        </div>

        <table class="table table-bordered">
          <tr><th class="bg-light">合計金額</th><td><%= @total %></td></tr>
        </table>
        <span class="d-flex justify-content-center"><%= link_to "情報入力に進む", new_public_order_path, class:'btn btn-success' %></span>


    </div>
  </div>
</div>