<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div style="margin: 50px 0px 50px 30px;">
        <h5 class="my-6 ml-3 px-2 border bg-light d-inline">注文情報入力</h5>
      </div>

      <div>
        <%= form_with model: @order, url: public_orders_confirm_path, method: :post do |f| %>

        <div>
          <p>支払方法</p>
          <%= f.radio_button :payment_method, Order.payment_methods.key(0), id:"0" %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], for:"0" %>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1), id:"1" %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], for:"1"%>
        </div>

        <div>
          <p>お届け先</p>
          <%= f.radio_button :order_address, 0, id:"address_0" %>
          <%= f.label :order_address_0, "ご自身の住所", for:"address_0" %><br>
          <p><%= current_customer.postal_code %> <%= current_customer.address %><br>
             <%= current_customer.first_name %><%= current_customer.last_name %></p>

          <%= f.radio_button :order_address, 1, id:"address_1" %>
          <%= f.label :order_address_1, "登録済住所から選択", for:"address_1", style:"margin-right: 20px;" %><br>
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %><br>


          <%= f.radio_button :order_address, 2, id:"address_2" %>
          <%= f.label :order_address_2, "新しいお届け先", for:"address_2" %><br>
          <span style="margin-right: 12px;"><label for="postal_code">郵便番号(ハイフンなし)</label></span>
          <%= f.text_field :postal_code, id:"postal_code" %><br>
          <span style="margin-right: 150px;"><label for="addres">住所</label></span>
          <%= f.text_area :address, id:"addres" %><br>
          <span style="margin-right: 150px;"><label for="postal_code">宛名</label></span>
          <%= f.text_field :name, id:"postal_code" %><br>

          <%= f.submit '確認画面へ進む', style: 'margin-bottom: 20px;' %>
        </div>
        <% end %>

      </div>

    </div>
  </div>
</div>