<div class="container">
  <div class="row">
    <div class="mx-auto">


      <div>
        <div>
          <h5>商品一覧</h5>
          <span>(全<%= @item.count %>件)</span>
        </div>

        <% @item.each do |item| %>

          <% if item.image.attached? %>
            <%= image_tag item.image %>
        　<% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>

          <%= link_to item.name, public_item_path(item.id) %>
          <%= item.price %>

        <% end %>

        <%= paginate @items %>
      </div>


    </div>
  </div>
</div>