<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div style="margin: 50px 0px 50px 30px;">
        <span class="font-weight-bold">商品一覧</span>
        <span>(全<%= @item.count %>件)</span>
      </div>


        <% @item.each do |item| %>

          <% if item.image.attached? %>
            <%= image_tag item.image %>
        　<% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>


          <%= link_to item.name, public_item_path(item.id) %>
          <%= item.price %>

        <% end %>

        <%= paginate @items %>


    </div>
  </div>
</div>