<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="shadow-sm">
       <nav class="navbar navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav flex-row ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
                <li class="nav-item">
                  <%= link_to "注文履歴一覧", admin_customers_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>

                <li>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "About", public_about_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark py-1 px-1 mx-2 border rounded' %>
                </li>
             <% end %>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <main>

      <%= yield %>
    </main>
  </body>
</html>
